*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f8f8f8;
color:#222;

}

header{

background:#0E2C5A;
padding:20px;

position:sticky;
top:0;
z-index:99;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

max-width:1200px;

margin:auto;

}

.logo{

color:#fff;

font-size:30px;

font-weight:700;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

}

.hero{

display:flex;

align-items:center;

justify-content:center;

padding:80px;

gap:80px;

}

.hero img{

width:280px;

border-radius:50%;

border:8px solid #F5B000;

}

.hero-right h1{

font-size:60px;

color:#0E2C5A;

}

.hero-right h2{

color:#F5B000;

margin:15px 0;

}

.btn{

display:inline-block;

margin-top:25px;

padding:15px 35px;

background:#0E2C5A;

color:white;

border-radius:50px;

text-decoration:none;

transition:.3s;

}

.btn:hover{

background:#F5B000;

}

section{

max-width:1200px;

margin:auto;

padding:80px 20px;

}

section h2{

font-size:40px;

margin-bottom:40px;

color:#0E2C5A;

}

.timeline{

border-left:4px solid #F5B000;

padding-left:35px;

}

.item{

margin-bottom:45px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.skill{

margin-bottom:25px;

}

.bar{

height:12px;

background:#ddd;

border-radius:20px;

}

.bar span{

display:block;

height:100%;

background:#F5B000;

border-radius:20px;

}

footer{

background:#0E2C5A;

color:white;

text-align:center;

padding:30px;

}